body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(0, 255, 242);
}
img{
    width: 200px;
}
 nav,h1.moh {
            background-color: rgb(58, 6, 6);
            padding: 15px;
            position: sticky;
            top: 20;
        }
        h1.moh{
            width: 100%;
        }

        nav a,h1.moh {
            color: white;
            text-decoration: 20px;
            margin-right: 20px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        hr{
            color: rgb(58, 6, 6);
         size: 200px;
        }
        footer{
            background-color: rgb(58, 6, 6);
            padding: 15px; 
            color: white;
            text-align: right;
            padding: 10px 20px;
        }
.btn{
            background-color: rgb(0, 153, 255);
            color:white;
            border: none;
            padding: 8px 25px;
            cursor: pointer;
        }
        .submit-btn {
    width: 13%;
    padding:4px;
    background: linear-gradient(135deg, #4d6c1a, #1f5ab2);
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    letter-spacing: 3px;
}
    section:target {
            display: block;
        }

        section {
            padding: 20px;
            display: none;
        }
       
       
       input{
        margin-bottom: 5px;
        text-align: center;
        
       }
form {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    outline: none; 
    transition: 0.3s; 
}

input:focus, textarea:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}


button[type="submit"], .send-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3; 
}
        
